// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

.navar-bg {
    background-color: gray;
}
.QR-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 100vh;           /* Hace que el contenedor ocupe toda la altura de la pantalla */
    width: 100%;
    background-color: darkslateblue;
  }

  .img-margin{
    padding: 5%;
    border-radius: 20px; /* Ajusta el valor para definir el nivel de redondez */
  }

